<mat-toolbar class="toolbar" color="primary">
  <mat-toolbar-row>
    <button mat-button [disableRipple]="true" [routerLink]="['']">
      Trash Mapper
    </button>

    <ng-container *ngIf="!loggedUserInfo">
      <div class="menu-actions">
        <a color="accent" [routerLink]="['/auth']" mat-raised-button>
          Acessar
        </a>
      </div>
    </ng-container>

    <ng-container *ngIf="loggedUserInfo">
      <div class="menu-actions" fxLayout="row" fxLayoutGap="10px">
        <button mat-button [matMenuTriggerFor]="userMenu">
          {{ loggedUserInfo.name }}
          <i class="fas fa-chevron-down"></i>
        </button>
      </div>
    </ng-container>
  </mat-toolbar-row>
</mat-toolbar>

<mat-menu #userMenu="matMenu">
  <ng-template matMenuContent>
    <button
      mat-menu-item
      [routerLink]="['/user', loggedUserInfo?.id, 'locations']"
    >
      Meus locais
    </button>
    <button mat-menu-item (click)="logout()">Sair</button>
  </ng-template>
</mat-menu>
