<form [formGroup]="registerForm" (ngSubmit)="submitRegister()">
  <div
    fxLayout="column"
    fxLayoutAlign="center"
    fxFlex="75"
    fxFlex.lt-sm="100"
    class="cont"
    fxLayoutGap="10px"
  >
    <mat-form-field fxFlex="1 1 100" color="primary">
      <mat-label>Seu nome</mat-label>
      <input formControlName="name" type="text" matInput />
      <mat-error>Campo obrigatório</mat-error>
    </mat-form-field>

    <mat-form-field fxFlex="1 1 100" color="primary">
      <mat-label>E-mail</mat-label>
      <input formControlName="email" type="email" matInput />
      <mat-error>Campo obrigatório</mat-error>
    </mat-form-field>

    <mat-form-field fxFlex="1 1 100" color="primary">
      <mat-label>Senha</mat-label>
      <input formControlName="password" type="password" matInput />
      <mat-error>Campo obrigatório</mat-error>
    </mat-form-field>

    <div *ngIf="registerError" fxLayout="column wrap" fxLayoutAlign="center">
      <small fxFlexAlign="center" style="color: darkred;">
        {{ registerError.error }}
      </small>
    </div>

    <div fxLayout="column" fxLayoutGap="10px" fxLayoutAlign="center stretch">
      <div fxLayout="row" fxLayoutAlign="center">
        <button
          type="submit"
          color="primary"
          fxFlex="0 1 40"
          fxFlexAlign="center"
          mat-raised-button
          [disabled]="registerForm.invalid"
        >
          Cadastrar
        </button>
      </div>
      <div fxLayout="row" fxLayoutAlign="center" fxLayoutGap="10px">
        <a mat-stroked-button routerLink="../login">Login</a>
        <a mat-stroked-button routerLink="">Início</a>
      </div>
    </div>
  </div>
</form>
