<div
  class="cards-container"
  fxFlex="100"
  fxLayout="row wrap"
  fxLayout.lt-md="column"
  fxLayoutGap="20px"
  fxLayoutAlign.lt-md="center"
  #cardsContainer
>
  <div
    #listItem
    class="card-wrapper"
    fxFlex="0 1 calc(33% - 20px)"
    fxFlex.lt-md="0 1 calc(50% - 20px)"
    fxFlex.lt-sm="0 1 calc(100% - 20px)"
  >
    <mat-card class="card">
      <mat-card-header>
        <mat-card-title>
          {{ location.name }}
        </mat-card-title>
        <mat-card-subtitle>
          {{ location.adress }}
        </mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <div [attr.id]="'map-place-' + location.id" class="map"></div>
      </mat-card-content>
    </mat-card>
  </div>
</div>
